=begin
#Skycoin REST API.

#Skycoin is a next-generation cryptocurrency.

OpenAPI spec version: 0.25.1
Contact: skycoin.doe@example.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 3.3.4

=end

require 'uri'

module SkyApi
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns the total number of unique address that have coins.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def address_count(opts = {})
      data, _status_code, _headers = address_count_with_http_info(opts)
      data
    end

    # Returns the total number of unique address that have coins.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def address_count_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.address_count ...'
      end
      # resource path
      local_var_path = '/api/v1/addresscount'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#address_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the historical, spent outputs associated with an address
    # @param address address to filter by
    # @param [Hash] opts the optional parameters
    # @return [Array<InlineResponse200>]
    def address_uxouts(address, opts = {})
      data, _status_code, _headers = address_uxouts_with_http_info(address, opts)
      data
    end

    # Returns the historical, spent outputs associated with an address
    # @param address address to filter by
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse200>, Fixnum, Hash)>] Array<InlineResponse200> data, response status code and response headers
    def address_uxouts_with_http_info(address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.address_uxouts ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling DefaultApi.address_uxouts"
      end
      # resource path
      local_var_path = '/api/v1/address_uxouts'

      # query parameters
      query_params = {}
      query_params[:'address'] = address

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<InlineResponse200>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#address_uxouts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the balance of one or more addresses, both confirmed and predicted. The predicted balance is the confirmed balance minus the pending spends.
    # @param addrs command separated list of addresses
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def balance_get(addrs, opts = {})
      data, _status_code, _headers = balance_get_with_http_info(addrs, opts)
      data
    end

    # Returns the balance of one or more addresses, both confirmed and predicted. The predicted balance is the confirmed balance minus the pending spends.
    # @param addrs command separated list of addresses
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def balance_get_with_http_info(addrs, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.balance_get ...'
      end
      # verify the required parameter 'addrs' is set
      if @api_client.config.client_side_validation && addrs.nil?
        fail ArgumentError, "Missing the required parameter 'addrs' when calling DefaultApi.balance_get"
      end
      # resource path
      local_var_path = '/api/v1/balance'

      # query parameters
      query_params = {}
      query_params[:'addrs'] = addrs

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#balance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the balance of one or more addresses, both confirmed and predicted. The predicted balance is the confirmed balance minus the pending spends.
    # @param addrs command separated list of addresses
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def balance_post(addrs, opts = {})
      data, _status_code, _headers = balance_post_with_http_info(addrs, opts)
      data
    end

    # Returns the balance of one or more addresses, both confirmed and predicted. The predicted balance is the confirmed balance minus the pending spends.
    # @param addrs command separated list of addresses
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def balance_post_with_http_info(addrs, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.balance_post ...'
      end
      # verify the required parameter 'addrs' is set
      if @api_client.config.client_side_validation && addrs.nil?
        fail ArgumentError, "Missing the required parameter 'addrs' when calling DefaultApi.balance_post"
      end
      # resource path
      local_var_path = '/api/v1/balance'

      # query parameters
      query_params = {}
      query_params[:'addrs'] = addrs

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#balance_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a block by hash or seq. Note: only one of hash or seq is allowed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hash 
    # @option opts [Integer] :seq 
    # @return [Object]
    def block(opts = {})
      data, _status_code, _headers = block_with_http_info(opts)
      data
    end

    # Returns a block by hash or seq. Note: only one of hash or seq is allowed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :hash 
    # @option opts [Integer] :seq 
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def block_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.block ...'
      end
      # resource path
      local_var_path = '/api/v1/block'

      # query parameters
      query_params = {}
      query_params[:'hash'] = opts[:'hash'] if !opts[:'hash'].nil?
      query_params[:'seq'] = opts[:'seq'] if !opts[:'seq'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#block\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the blockchain metadata.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def blockchain_metadata(opts = {})
      data, _status_code, _headers = blockchain_metadata_with_http_info(opts)
      data
    end

    # Returns the blockchain metadata.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def blockchain_metadata_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.blockchain_metadata ...'
      end
      # resource path
      local_var_path = '/api/v1/blockchain/metadata'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#blockchain_metadata\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the blockchain sync progress.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def blockchain_progress(opts = {})
      data, _status_code, _headers = blockchain_progress_with_http_info(opts)
      data
    end

    # Returns the blockchain sync progress.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def blockchain_progress_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.blockchain_progress ...'
      end
      # resource path
      local_var_path = '/api/v1/blockchain/progress'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#blockchain_progress\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # blocksHandler returns blocks between a start and end point,
    # or an explicit list of sequences. If using start and end, the block sequences include both the start and end point. Explicit sequences cannot be combined with start and end. Without verbose.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start 
    # @option opts [Integer] :_end 
    # @option opts [Array<Integer>] :seqs 
    # @return [Object]
    def blocks_get(opts = {})
      data, _status_code, _headers = blocks_get_with_http_info(opts)
      data
    end

    # blocksHandler returns blocks between a start and end point,
    # or an explicit list of sequences. If using start and end, the block sequences include both the start and end point. Explicit sequences cannot be combined with start and end. Without verbose.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start 
    # @option opts [Integer] :_end 
    # @option opts [Array<Integer>] :seqs 
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def blocks_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.blocks_get ...'
      end
      # resource path
      local_var_path = '/api/v1/blocks'

      # query parameters
      query_params = {}
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'end'] = opts[:'_end'] if !opts[:'_end'].nil?
      query_params[:'seqs'] = @api_client.build_collection_param(opts[:'seqs'], :csv) if !opts[:'seqs'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#blocks_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # blocksHandler returns blocks between a start and end point,
    # or an explicit list of sequences. If using start and end, the block sequences include both the start and end point. Explicit sequences cannot be combined with start and end. Without verbose
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start 
    # @option opts [Integer] :_end 
    # @option opts [Array<Integer>] :seqs 
    # @return [Object]
    def blocks_post(opts = {})
      data, _status_code, _headers = blocks_post_with_http_info(opts)
      data
    end

    # blocksHandler returns blocks between a start and end point,
    # or an explicit list of sequences. If using start and end, the block sequences include both the start and end point. Explicit sequences cannot be combined with start and end. Without verbose
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start 
    # @option opts [Integer] :_end 
    # @option opts [Array<Integer>] :seqs 
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def blocks_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.blocks_post ...'
      end
      # resource path
      local_var_path = '/api/v1/blocks'

      # query parameters
      query_params = {}
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'end'] = opts[:'_end'] if !opts[:'_end'].nil?
      query_params[:'seqs'] = @api_client.build_collection_param(opts[:'seqs'], :csv) if !opts[:'seqs'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#blocks_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # coinSupplyHandler returns coin distribution supply stats
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def coin_supply(opts = {})
      coin_supply_with_http_info(opts)
      nil
    end

    # coinSupplyHandler returns coin distribution supply stats
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def coin_supply_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.coin_supply ...'
      end
      # resource path
      local_var_path = '/api/v1/coinSupply'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#coin_supply\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new CSRF token. Previous CSRF tokens are invalidated by this call.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2001]
    def csrf(opts = {})
      data, _status_code, _headers = csrf_with_http_info(opts)
      data
    end

    # Creates a new CSRF token. Previous CSRF tokens are invalidated by this call.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2001, Fixnum, Hash)>] InlineResponse2001 data, response status code and response headers
    def csrf_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.csrf ...'
      end
      # resource path
      local_var_path = '/api/v1/csrf'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2001')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#csrf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # defaultConnectionsHandler returns the list of default hardcoded bootstrap addresses.\\n They are not necessarily connected to.
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def default_connections(opts = {})
      data, _status_code, _headers = default_connections_with_http_info(opts)
      data
    end

    # defaultConnectionsHandler returns the list of default hardcoded bootstrap addresses.\\n They are not necessarily connected to.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def default_connections_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.default_connections ...'
      end
      # resource path
      local_var_path = '/api/v1/network/defaultConnections'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#default_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all transactions (confirmed and unconfirmed) for an address
    # @param [Hash] opts the optional parameters
    # @option opts [String] :address tags to filter by
    # @return [Array<InlineResponse2002>]
    def explorer_address(opts = {})
      data, _status_code, _headers = explorer_address_with_http_info(opts)
      data
    end

    # Returns all transactions (confirmed and unconfirmed) for an address
    # @param [Hash] opts the optional parameters
    # @option opts [String] :address tags to filter by
    # @return [Array<(Array<InlineResponse2002>, Fixnum, Hash)>] Array<InlineResponse2002> data, response status code and response headers
    def explorer_address_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.explorer_address ...'
      end
      # resource path
      local_var_path = '/api/v1/explorer/address'

      # query parameters
      query_params = {}
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<InlineResponse2002>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#explorer_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns node health data.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def health(opts = {})
      data, _status_code, _headers = health_with_http_info(opts)
      data
    end

    # Returns node health data.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def health_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.health ...'
      end
      # resource path
      local_var_path = '/api/v1/health'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#health\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the most recent N blocks on the blockchain
    # @param num 
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def last_blocks(num, opts = {})
      data, _status_code, _headers = last_blocks_with_http_info(num, opts)
      data
    end

    # Returns the most recent N blocks on the blockchain
    # @param num 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def last_blocks_with_http_info(num, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.last_blocks ...'
      end
      # verify the required parameter 'num' is set
      if @api_client.config.client_side_validation && num.nil?
        fail ArgumentError, "Missing the required parameter 'num' when calling DefaultApi.last_blocks"
      end
      # resource path
      local_var_path = '/api/v1/last_blocks'

      # query parameters
      query_params = {}
      query_params[:'num'] = num

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#last_blocks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This endpoint returns a specific connection.
    # @param addr Address port
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2003]
    def network_connection(addr, opts = {})
      data, _status_code, _headers = network_connection_with_http_info(addr, opts)
      data
    end

    # This endpoint returns a specific connection.
    # @param addr Address port
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2003, Fixnum, Hash)>] InlineResponse2003 data, response status code and response headers
    def network_connection_with_http_info(addr, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.network_connection ...'
      end
      # verify the required parameter 'addr' is set
      if @api_client.config.client_side_validation && addr.nil?
        fail ArgumentError, "Missing the required parameter 'addr' when calling DefaultApi.network_connection"
      end
      # resource path
      local_var_path = '/api/v1/network/connection'

      # query parameters
      query_params = {}
      query_params[:'addr'] = addr

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2003')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#network_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This endpoint returns all outgoings connections.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :states Connection status.
    # @option opts [String] :direction Direction of the connection.
    # @return [Array<InlineResponse2003>]
    def network_connections(opts = {})
      data, _status_code, _headers = network_connections_with_http_info(opts)
      data
    end

    # This endpoint returns all outgoings connections.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :states Connection status.
    # @option opts [String] :direction Direction of the connection.
    # @return [Array<(Array<InlineResponse2003>, Fixnum, Hash)>] Array<InlineResponse2003> data, response status code and response headers
    def network_connections_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.network_connections ...'
      end
      if @api_client.config.client_side_validation && opts[:'states'] && !['pending', 'connected', 'introduced'].include?(opts[:'states'])
        fail ArgumentError, 'invalid value for "states", must be one of pending, connected, introduced'
      end
      if @api_client.config.client_side_validation && opts[:'direction'] && !['connected', 'introduced'].include?(opts[:'direction'])
        fail ArgumentError, 'invalid value for "direction", must be one of connected, introduced'
      end
      # resource path
      local_var_path = '/api/v1/network/connections'

      # query parameters
      query_params = {}
      query_params[:'states'] = opts[:'states'] if !opts[:'states'].nil?
      query_params[:'direction'] = opts[:'direction'] if !opts[:'direction'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<InlineResponse2003>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#network_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This endpoint disconnects a connection by ID or address
    # @param id Address id.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def network_connections_disconnect(id, opts = {})
      network_connections_disconnect_with_http_info(id, opts)
      nil
    end

    # This endpoint disconnects a connection by ID or address
    # @param id Address id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def network_connections_disconnect_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.network_connections_disconnect ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.network_connections_disconnect"
      end
      # resource path
      local_var_path = '/api/v1/network/connection/disconnect'

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#network_connections_disconnect\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This endpoint returns all connections found through peer exchange
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def network_connections_exchange(opts = {})
      data, _status_code, _headers = network_connections_exchange_with_http_info(opts)
      data
    end

    # This endpoint returns all connections found through peer exchange
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def network_connections_exchange_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.network_connections_exchange ...'
      end
      # resource path
      local_var_path = '/api/v1/network/connections/exchange'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#network_connections_exchange\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # trustConnectionsHandler returns all trusted connections.\\n They are not necessarily connected to. In the default configuration, these will be a subset of the default hardcoded bootstrap addresses.
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def network_connections_trust(opts = {})
      data, _status_code, _headers = network_connections_trust_with_http_info(opts)
      data
    end

    # trustConnectionsHandler returns all trusted connections.\\n They are not necessarily connected to. In the default configuration, these will be a subset of the default hardcoded bootstrap addresses.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def network_connections_trust_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.network_connections_trust ...'
      end
      # resource path
      local_var_path = '/api/v1/network/connections/trust'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#network_connections_trust\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # If neither addrs nor hashes are specificed, return all unspent outputs. If only one filter is specified, then return outputs match the filter. Both filters cannot be specified.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :address 
    # @option opts [Array<String>] :hash 
    # @return [Object]
    def outputs_get(opts = {})
      data, _status_code, _headers = outputs_get_with_http_info(opts)
      data
    end

    # If neither addrs nor hashes are specificed, return all unspent outputs. If only one filter is specified, then return outputs match the filter. Both filters cannot be specified.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :address 
    # @option opts [Array<String>] :hash 
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def outputs_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.outputs_get ...'
      end
      # resource path
      local_var_path = '/api/v1/outputs'

      # query parameters
      query_params = {}
      query_params[:'address'] = @api_client.build_collection_param(opts[:'address'], :csv) if !opts[:'address'].nil?
      query_params[:'hash'] = @api_client.build_collection_param(opts[:'hash'], :csv) if !opts[:'hash'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#outputs_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # If neither addrs nor hashes are specificed, return all unspent outputs. If only one filter is specified, then return outputs match the filter. Both filters cannot be specified.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :address 
    # @option opts [String] :hash 
    # @return [Object]
    def outputs_post(opts = {})
      data, _status_code, _headers = outputs_post_with_http_info(opts)
      data
    end

    # If neither addrs nor hashes are specificed, return all unspent outputs. If only one filter is specified, then return outputs match the filter. Both filters cannot be specified.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :address 
    # @option opts [String] :hash 
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def outputs_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.outputs_post ...'
      end
      # resource path
      local_var_path = '/api/v1/outputs'

      # query parameters
      query_params = {}
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?
      query_params[:'hash'] = opts[:'hash'] if !opts[:'hash'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#outputs_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns pending (unconfirmed) transactions without verbose
    # @param [Hash] opts the optional parameters
    # @return [Array<InlineResponse2004>]
    def pending_txs(opts = {})
      data, _status_code, _headers = pending_txs_with_http_info(opts)
      data
    end

    # Returns pending (unconfirmed) transactions without verbose
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<InlineResponse2004>, Fixnum, Hash)>] Array<InlineResponse2004> data, response status code and response headers
    def pending_txs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.pending_txs ...'
      end
      # resource path
      local_var_path = '/api/v1/pendingTxs'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<InlineResponse2004>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#pending_txs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Broadcasts all unconfirmed transactions from the unconfirmed transaction pool
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def resend_unconfirmed_txns(opts = {})
      resend_unconfirmed_txns_with_http_info(opts)
      nil
    end

    # Broadcasts all unconfirmed transactions from the unconfirmed transaction pool
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def resend_unconfirmed_txns_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.resend_unconfirmed_txns ...'
      end
      # resource path
      local_var_path = '/api/v1/resendUnconfirmedTxns'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#resend_unconfirmed_txns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the top skycoin holders.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_distribution include distribution addresses or not, default value false
    # @option opts [String] :n include distribution addresses or not, default value false
    # @return [Object]
    def richlist(opts = {})
      data, _status_code, _headers = richlist_with_http_info(opts)
      data
    end

    # Returns the top skycoin holders.
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_distribution include distribution addresses or not, default value false
    # @option opts [String] :n include distribution addresses or not, default value false
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def richlist_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.richlist ...'
      end
      # resource path
      local_var_path = '/api/v1/richlist'

      # query parameters
      query_params = {}
      query_params[:'include-distribution'] = opts[:'include_distribution'] if !opts[:'include_distribution'].nil?
      query_params[:'n'] = opts[:'n'] if !opts[:'n'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#richlist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a transaction identified by its txid hash with just id
    # @param txid transaction hash
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :encoded return as a raw encoded transaction.
    # @return [Object]
    def transaction(txid, opts = {})
      data, _status_code, _headers = transaction_with_http_info(txid, opts)
      data
    end

    # Returns a transaction identified by its txid hash with just id
    # @param txid transaction hash
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :encoded return as a raw encoded transaction.
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def transaction_with_http_info(txid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.transaction ...'
      end
      # verify the required parameter 'txid' is set
      if @api_client.config.client_side_validation && txid.nil?
        fail ArgumentError, "Missing the required parameter 'txid' when calling DefaultApi.transaction"
      end
      # resource path
      local_var_path = '/api/v1/transaction'

      # query parameters
      query_params = {}
      query_params[:'txid'] = txid
      query_params[:'encoded'] = opts[:'encoded'] if !opts[:'encoded'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Broadcast a hex-encoded, serialized transaction to the network.
    # @param rawtx hex-encoded serialized transaction string.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def transaction_inject(rawtx, opts = {})
      data, _status_code, _headers = transaction_inject_with_http_info(rawtx, opts)
      data
    end

    # Broadcast a hex-encoded, serialized transaction to the network.
    # @param rawtx hex-encoded serialized transaction string.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def transaction_inject_with_http_info(rawtx, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.transaction_inject ...'
      end
      # verify the required parameter 'rawtx' is set
      if @api_client.config.client_side_validation && rawtx.nil?
        fail ArgumentError, "Missing the required parameter 'rawtx' when calling DefaultApi.transaction_inject"
      end
      # resource path
      local_var_path = '/api/v2/transaction/inject'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'rawtx'] = rawtx

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#transaction_inject\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the hex-encoded byte serialization of a transaction. The transaction may be confirmed or unconfirmed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :txid Transaction id hash
    # @return [Object]
    def transaction_raw(opts = {})
      data, _status_code, _headers = transaction_raw_with_http_info(opts)
      data
    end

    # Returns the hex-encoded byte serialization of a transaction. The transaction may be confirmed or unconfirmed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :txid Transaction id hash
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def transaction_raw_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.transaction_raw ...'
      end
      # resource path
      local_var_path = '/api/v2/transaction/raw'

      # query parameters
      query_params = {}
      query_params[:'txid'] = opts[:'txid'] if !opts[:'txid'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#transaction_raw\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Decode and verify an encoded transaction
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def transaction_verify(opts = {})
      data, _status_code, _headers = transaction_verify_with_http_info(opts)
      data
    end

    # Decode and verify an encoded transaction
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def transaction_verify_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.transaction_verify ...'
      end
      # resource path
      local_var_path = '/api/v2/transaction/verify'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#transaction_verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns transactions that match the filters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :addrs command separated list of addresses
    # @option opts [String] :confirmed Whether the transactions should be confirmed [optional, must be 0 or 1; if not provided, returns all]
    # @return [Object]
    def transactions_get(opts = {})
      data, _status_code, _headers = transactions_get_with_http_info(opts)
      data
    end

    # Returns transactions that match the filters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :addrs command separated list of addresses
    # @option opts [String] :confirmed Whether the transactions should be confirmed [optional, must be 0 or 1; if not provided, returns all]
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def transactions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.transactions_get ...'
      end
      # resource path
      local_var_path = '/api/v1/transactions'

      # query parameters
      query_params = {}
      query_params[:'addrs'] = opts[:'addrs'] if !opts[:'addrs'].nil?
      query_params[:'confirmed'] = opts[:'confirmed'] if !opts[:'confirmed'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#transactions_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns transactions that match the filters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :addrs command separated list of addresses
    # @option opts [String] :confirmed Whether the transactions should be confirmed [optional, must be 0 or 1; if not provided, returns all]
    # @return [Object]
    def transactions_post(opts = {})
      data, _status_code, _headers = transactions_post_with_http_info(opts)
      data
    end

    # Returns transactions that match the filters.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :addrs command separated list of addresses
    # @option opts [String] :confirmed Whether the transactions should be confirmed [optional, must be 0 or 1; if not provided, returns all]
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def transactions_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.transactions_post ...'
      end
      # resource path
      local_var_path = '/api/v1/transactions'

      # query parameters
      query_params = {}
      query_params[:'addrs'] = opts[:'addrs'] if !opts[:'addrs'].nil?
      query_params[:'confirmed'] = opts[:'confirmed'] if !opts[:'confirmed'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#transactions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns an unspent output by ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :uxid uxid to filter by
    # @return [Object]
    def uxout(opts = {})
      data, _status_code, _headers = uxout_with_http_info(opts)
      data
    end

    # Returns an unspent output by ID.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :uxid uxid to filter by
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def uxout_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.uxout ...'
      end
      # resource path
      local_var_path = '/api/v1/uxout'

      # query parameters
      query_params = {}
      query_params[:'uxid'] = opts[:'uxid'] if !opts[:'uxid'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#uxout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verifies a Skycoin address.
    # @param address Address id.
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2007]
    def verify_address(address, opts = {})
      data, _status_code, _headers = verify_address_with_http_info(address, opts)
      data
    end

    # Verifies a Skycoin address.
    # @param address Address id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2007, Fixnum, Hash)>] InlineResponse2007 data, response status code and response headers
    def verify_address_with_http_info(address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.verify_address ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling DefaultApi.verify_address"
      end
      # resource path
      local_var_path = '/api/v2/address/verify'

      # query parameters
      query_params = {}
      query_params[:'address'] = address

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2007')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#verify_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # versionHandler returns the application version info
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def version(opts = {})
      version_with_http_info(opts)
      nil
    end

    # versionHandler returns the application version info
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def version_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.version ...'
      end
      # resource path
      local_var_path = '/api/v1/version'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a wallet by id.
    # @param id tags to filter by
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def wallet(id, opts = {})
      data, _status_code, _headers = wallet_with_http_info(id, opts)
      data
    end

    # Returns a wallet by id.
    # @param id tags to filter by
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet"
      end
      # resource path
      local_var_path = '/api/v1/wallet'

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the wallet's balance, both confirmed and predicted.  The predicted balance is the confirmed balance minus the pending spends.
    # @param id tags to filter by
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def wallet_balance(id, opts = {})
      data, _status_code, _headers = wallet_balance_with_http_info(id, opts)
      data
    end

    # Returns the wallet&#39;s balance, both confirmed and predicted.  The predicted balance is the confirmed balance minus the pending spends.
    # @param id tags to filter by
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_balance_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_balance ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet_balance"
      end
      # resource path
      local_var_path = '/api/v1/wallet/balance'

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Loads wallet from seed, will scan ahead N address and load addresses till the last one that have coins.
    # @param seed Wallet seed.
    # @param label Wallet label.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :scan The number of addresses to scan ahead for balances.
    # @option opts [BOOLEAN] :encrypt Encrypt wallet.
    # @option opts [String] :password Wallet Password
    # @return [Object]
    def wallet_create(seed, label, opts = {})
      data, _status_code, _headers = wallet_create_with_http_info(seed, label, opts)
      data
    end

    # Loads wallet from seed, will scan ahead N address and load addresses till the last one that have coins.
    # @param seed Wallet seed.
    # @param label Wallet label.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :scan The number of addresses to scan ahead for balances.
    # @option opts [BOOLEAN] :encrypt Encrypt wallet.
    # @option opts [String] :password Wallet Password
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_create_with_http_info(seed, label, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_create ...'
      end
      # verify the required parameter 'seed' is set
      if @api_client.config.client_side_validation && seed.nil?
        fail ArgumentError, "Missing the required parameter 'seed' when calling DefaultApi.wallet_create"
      end
      # verify the required parameter 'label' is set
      if @api_client.config.client_side_validation && label.nil?
        fail ArgumentError, "Missing the required parameter 'label' when calling DefaultApi.wallet_create"
      end
      if @api_client.config.client_side_validation && !opts[:'scan'].nil? && opts[:'scan'] < 1
        fail ArgumentError, 'invalid value for "opts[:"scan"]" when calling DefaultApi.wallet_create, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/v1/wallet/create'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'seed'] = seed
      header_params[:'label'] = label
      header_params[:'scan'] = opts[:'scan'] if !opts[:'scan'].nil?
      header_params[:'encrypt'] = opts[:'encrypt'] if !opts[:'encrypt'].nil?
      header_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Decrypts wallet.
    # @param id Wallet id.
    # @param password Wallet password.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def wallet_decrypt(id, password, opts = {})
      data, _status_code, _headers = wallet_decrypt_with_http_info(id, password, opts)
      data
    end

    # Decrypts wallet.
    # @param id Wallet id.
    # @param password Wallet password.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_decrypt_with_http_info(id, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_decrypt ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet_decrypt"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling DefaultApi.wallet_decrypt"
      end
      # resource path
      local_var_path = '/api/v1/wallet/decrypt'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'id'] = id
      header_params[:'password'] = password

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_decrypt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Encrypt wallet.
    # @param id Wallet id.
    # @param password Wallet password.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def wallet_encrypt(id, password, opts = {})
      data, _status_code, _headers = wallet_encrypt_with_http_info(id, password, opts)
      data
    end

    # Encrypt wallet.
    # @param id Wallet id.
    # @param password Wallet password.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_encrypt_with_http_info(id, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_encrypt ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet_encrypt"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling DefaultApi.wallet_encrypt"
      end
      # resource path
      local_var_path = '/api/v1/wallet/encrypt'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'id'] = id
      header_params[:'password'] = password

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_encrypt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the wallet directory path
    # @param addr Address port
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse2006]
    def wallet_folder(addr, opts = {})
      data, _status_code, _headers = wallet_folder_with_http_info(addr, opts)
      data
    end

    # Returns the wallet directory path
    # @param addr Address port
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse2006, Fixnum, Hash)>] InlineResponse2006 data, response status code and response headers
    def wallet_folder_with_http_info(addr, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_folder ...'
      end
      # verify the required parameter 'addr' is set
      if @api_client.config.client_side_validation && addr.nil?
        fail ArgumentError, "Missing the required parameter 'addr' when calling DefaultApi.wallet_folder"
      end
      # resource path
      local_var_path = '/api/v1/wallets/folderName'

      # query parameters
      query_params = {}
      query_params[:'addr'] = addr

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'InlineResponse2006')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_folder\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generates new addresses
    # @param id Wallet Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :num The number you want to generate
    # @option opts [String] :password Wallet Password
    # @return [Object]
    def wallet_new_address(id, opts = {})
      data, _status_code, _headers = wallet_new_address_with_http_info(id, opts)
      data
    end

    # Generates new addresses
    # @param id Wallet Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :num The number you want to generate
    # @option opts [String] :password Wallet Password
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_new_address_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_new_address ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet_new_address"
      end
      # resource path
      local_var_path = '/api/v1/wallet/newAddress'

      # query parameters
      query_params = {}
      query_params[:'id'] = id
      query_params[:'num'] = opts[:'num'] if !opts[:'num'].nil?
      query_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_new_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns the wallet directory path
    # @param [Hash] opts the optional parameters
    # @option opts [String] :entropy Entropy bitSize.
    # @return [Object]
    def wallet_new_seed(opts = {})
      data, _status_code, _headers = wallet_new_seed_with_http_info(opts)
      data
    end

    # Returns the wallet directory path
    # @param [Hash] opts the optional parameters
    # @option opts [String] :entropy Entropy bitSize.
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_new_seed_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_new_seed ...'
      end
      if @api_client.config.client_side_validation && opts[:'entropy'] && !['128', '256'].include?(opts[:'entropy'])
        fail ArgumentError, 'invalid value for "entropy", must be one of 128, 256'
      end
      # resource path
      local_var_path = '/api/v1/wallet/newSeed'

      # query parameters
      query_params = {}
      query_params[:'entropy'] = opts[:'entropy'] if !opts[:'entropy'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_new_seed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Recovers an encrypted wallet by providing the seed. The first address will be generated from seed and compared to the first address of the specified wallet. If they match, the wallet will be regenerated with an optional password. If the wallet is not encrypted, an error is returned.
    # @param id Wallet id.
    # @param seed Wallet seed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password Wallet password.
    # @return [Object]
    def wallet_recover(id, seed, opts = {})
      data, _status_code, _headers = wallet_recover_with_http_info(id, seed, opts)
      data
    end

    # Recovers an encrypted wallet by providing the seed. The first address will be generated from seed and compared to the first address of the specified wallet. If they match, the wallet will be regenerated with an optional password. If the wallet is not encrypted, an error is returned.
    # @param id Wallet id.
    # @param seed Wallet seed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :password Wallet password.
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_recover_with_http_info(id, seed, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_recover ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet_recover"
      end
      # verify the required parameter 'seed' is set
      if @api_client.config.client_side_validation && seed.nil?
        fail ArgumentError, "Missing the required parameter 'seed' when calling DefaultApi.wallet_recover"
      end
      # resource path
      local_var_path = '/api/v2/wallet/recover'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'id'] = id
      header_params[:'seed'] = seed
      header_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_recover\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # This endpoint only works for encrypted wallets. If the wallet is unencrypted, The seed will be not returned.
    # @param id Wallet Id.
    # @param password Wallet password.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def wallet_seed(id, password, opts = {})
      data, _status_code, _headers = wallet_seed_with_http_info(id, password, opts)
      data
    end

    # This endpoint only works for encrypted wallets. If the wallet is unencrypted, The seed will be not returned.
    # @param id Wallet Id.
    # @param password Wallet password.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_seed_with_http_info(id, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_seed ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet_seed"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling DefaultApi.wallet_seed"
      end
      # resource path
      local_var_path = '/api/v1/wallet/seed'

      # query parameters
      query_params = {}
      query_params[:'id'] = id
      query_params[:'password'] = password

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_seed\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verifies a wallet seed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :seed Seed to be verified.
    # @return [Object]
    def wallet_seed_verify(opts = {})
      data, _status_code, _headers = wallet_seed_verify_with_http_info(opts)
      data
    end

    # Verifies a wallet seed.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :seed Seed to be verified.
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_seed_verify_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_seed_verify ...'
      end
      # resource path
      local_var_path = '/api/v2/wallet/seed/verify'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'seed'] = opts[:'seed'] if !opts[:'seed'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_seed_verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates and broadcasts a transaction sending money from one of our wallets to destination address.
    # @param id Wallet id
    # @param dst Recipient address
    # @param coins Number of coins to spend, in droplets. 1 coin equals 1e6 droplets.
    # @param password Wallet password.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def wallet_spent(id, dst, coins, password, opts = {})
      data, _status_code, _headers = wallet_spent_with_http_info(id, dst, coins, password, opts)
      data
    end

    # Creates and broadcasts a transaction sending money from one of our wallets to destination address.
    # @param id Wallet id
    # @param dst Recipient address
    # @param coins Number of coins to spend, in droplets. 1 coin equals 1e6 droplets.
    # @param password Wallet password.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_spent_with_http_info(id, dst, coins, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_spent ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet_spent"
      end
      # verify the required parameter 'dst' is set
      if @api_client.config.client_side_validation && dst.nil?
        fail ArgumentError, "Missing the required parameter 'dst' when calling DefaultApi.wallet_spent"
      end
      # verify the required parameter 'coins' is set
      if @api_client.config.client_side_validation && coins.nil?
        fail ArgumentError, "Missing the required parameter 'coins' when calling DefaultApi.wallet_spent"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling DefaultApi.wallet_spent"
      end
      # resource path
      local_var_path = '/api/v1/wallet/spend'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'id'] = id
      header_params[:'dst'] = dst
      header_params[:'coins'] = coins
      header_params[:'password'] = password

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_spent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a signed transaction
    # @param [Hash] opts the optional parameters
    # @option opts [InlineObject] :inline_object 
    # @return [Object]
    def wallet_transaction(opts = {})
      data, _status_code, _headers = wallet_transaction_with_http_info(opts)
      data
    end

    # Creates a signed transaction
    # @param [Hash] opts the optional parameters
    # @option opts [InlineObject] :inline_object 
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_transaction_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_transaction ...'
      end
      # resource path
      local_var_path = '/api/v1/wallet/transaction'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'inline_object'])
      auth_names = ['csrfAuth']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns returns all unconfirmed transactions for all addresses in a given wallet verbose
    # @param id Wallet id.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def wallet_transactions(id, opts = {})
      data, _status_code, _headers = wallet_transactions_with_http_info(id, opts)
      data
    end

    # Returns returns all unconfirmed transactions for all addresses in a given wallet verbose
    # @param id Wallet id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Fixnum, Hash)>] Object data, response status code and response headers
    def wallet_transactions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_transactions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet_transactions"
      end
      # resource path
      local_var_path = '/api/v1/wallet/transactions'

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Object')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#wallet_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unloads wallet from the wallet service.
    # @param id Wallet Id.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def wallet_unload(id, opts = {})
      wallet_unload_with_http_info(id, opts)
      nil
    end

    # Unloads wallet from the wallet service.
    # @param id Wallet Id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def wallet_unload_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.wallet_unload ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.wallet_unload"
      end
      # resource path
      local_var_path = '/api/v1/wallet/unload'

      # query parameters
      query_params = {}
      query_params[:'id'] = id

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['csrfAuth']
[...]
